@import url("./fonts/css/switzer.css");
@import url("./fonts/css/t.css");

body {
  padding: 0;
  margin: 0;
  background-color: #333;
  overflow: hidden;

  font-family: "Switzer-Regular";
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  /* display: none; */
}

img {
  /* width: 400px;
  height: 250px; */
  /* width: 75px;
  height: 250px;
  display: block;
  position: relative;
  object-fit: cover;
  object-position: center;
  margin: 0 7px; */
}

.e-btn {
  position: absolute;
  top: 83%;
  left: 50%;
  z-index: 12;
  user-select: none;
  transform: translateX(-50%);

  color: white;
  overflow: hidden;
}

.e-s {
  position: relative;
  margin: 15px auto 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.e-l {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

.e-l-c {
  width: 1px;
  height: 35px;
  margin: 0 auto;
  background-color: white;
}

.e-t {
  position: relative;
  overflow: hidden;
}

.e-t-c {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  outline: none;
  display: block;
  transform: translateY(-20%);
  transition-duration: all 1s;
  z-index: 14;
}

.e-t-c::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid white;
}

.p-btn {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  user-select: none;

  color: white;
  overflow: hidden;
}

.p-s {
  position: relative;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.p-l {
  overflow: hidden;
  margin-top: 10px;
}

.p-l-c {
  width: 1px;
  background-color: white;
  height: 10px;
  margin: 0 auto;
}

.p-t {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

.p-t-c {
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  display: block;
  position: relative;
  transform: translateY(-20%);
  transition-duration: all 1s;
  z-index: 14;
}

.p-t-c::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid white;
}

.case {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case-img-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
  pointer-events: none;
}

.case-img-container {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 420px;
  background-color: #ddd;
}
.case-img-container img {
  object-fit: cover;
  user-select: none;
}

.img-hidden {
  visibility: hidden;
}

.image-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  transform: translateY(100vh);
  right: 50px;
  width: auto;
  height: 100%;
  z-index: 15;
  pointer-events: none;
}

.img-min-container {
  width: 82px;
  height: 46px;
  background-color: #ccc;
  margin-top: 16px;
  cursor: pointer;
  pointer-events: all;
  z-index: 15;
}

.img-min-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.img-min-container:first-child {
  margin-top: 0px;
}

.selector-indicator {
  position: absolute;
  top: 0;
  left: -6px;
  width: 94px;
  height: 58px;
  border: 1px solid gold;
  box-sizing: border-box;

  z-index: 16;
}

.min-img-hidden {
  visibility: hidden;
  pointer-events: none;
}

.inner-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  pointer-events: none;
}

ul {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  height: 100%;
}

.t {
  font-family: T;
  font-size: 37vh;
  line-height: 28vh;
  letter-spacing: -0.024em;

  display: flex;
  width: min-content;
  height: 28vh;
  left: 40px;
  color: white;
}

.tt {
  position: absolute;
  top: calc(50% - 35vh);
}

.tb {
  position: absolute;
  top: calc(50% - 7vh);
}

.t > div {
  display: inline-block;
  overflow: hidden;
}
